* {
  padding: 0;
  margin: 0  ;
  box-sizing: border-box  ;
}
html {
  font-family: "Montserrat", sans-serif  ;
}
body {
  background: #eceff4  ;
  /* padding: 0 16px; */
}

body::-webkit-scrollbar{
    display: none;
  }

.navigation {
  background-color: #A406B5  ;
}

.sidebar {
  display: flex  ;
  max-height: 90vh  ; 
  /* margin-top: 100px; */
  /* width: 200px; */
  /* overflow-y: scroll; */
}


.sidebar ul {
  list-style: none  ;
  margin: 0  ;
  padding: 0  ;
  max-width: 30%  ;
  /* width: 200px; */
  /* background-color: #f2f1ef  ; */
}

.sidebar li {
  padding: 10px  ;
  cursor: pointer  ;
  font-weight: 600;
  color: #666;
}

.sidebar li:hover {
  background-color: #ddd  ;
}

.sidebar li.active {
  background-color: #e2ebf2  ;
}

.main-content {
  flex: 1  ;
  padding: 20px  ;
  /* background-color: #e8ebf3  ; */
  /* overflow-y:auto; */
}

.main-content::-webkit-scrollbar{
  display: none;
}

.session-tab {
  display: flex  ;
  flex-direction: column  ;
  /* margin-left: 200px; */
  /* width: 100%;
  height: 100%; */
}

.session-header {
  display: flex  ;
  justify-content: space-between  ;
  align-items: center  ;
  padding: 1rem  ;
  background-color: #f8f8f8  ;
}

.agendaTabs {
  padding: 10px  ;
  width: 50%  ;
  cursor: pointer  ;
  text-align: center ;
  /* background-color: #ccc  ; */
  font-weight: 800;
}

.agendaTabs.active {
  background-color: #A406B5;
  color: #e2ebf2;
  /* color: #0758ca; */
}

.session-header h2 {
  margin: 0 ;
}

.session-buttons {
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.session-header button {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  font-size: 1rem  ;
  padding: 0.5rem  ;
  border-radius: 5px  ;
  border: none  ;
  background-color: #4caf50  ;
  color: #fff  ;
  cursor: pointer  ;
  transition: all 0.2s ease-in-out  ;
}

.session-header button:hover {
  background-color: #388e3c  ;
}

.session-body {
  display: flex  ;
  flex-direction: column  ;
  margin-top: 20px;
  /* padding: 0 1rem 0 1rem; */
  /* overflow-x: scroll; */
  /* scroll-behavior: smooth; */
}

.session-day {
  display: flex;
  flex-direction: row  ;
  /* margin: 0 1rem 0 1rem  ; */
  width: 100%  ;
  height: 100%  ;
  background-color: #fff  ;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2)  ;
}

.session-buttons button {
  margin-right: 2rem  ;
}

.session-day .imgH3 {
  margin: 0  ;
  padding: 1rem  ;
  background-color: #f8f8f8  ;
  font-size: 1.2rem  ;
  font-weight: bold  ;
  min-width: max-content;
}

.imgH3 h3 {
  margin: 0  ;
  padding: 1rem  ;
  background-color: #f8f8f8  ;
  font-size: 1.2rem  ;
  font-weight: bold  ;
}

.imgH3 p {
  margin: 0  ;
  padding: 1rem  ;
  color: #423e3e  ;
  font-size: 1rem  ;
  font-weight: bold  ;
  text-align: center  ;
}

.imgH3 {
  text-align: center  ;
}

.imgH3 img {
  width: 100px  ;
  height: 100px  ;
  border-radius: 100%  ;
  /* text-align: center; */
}

.session-events {
  display: flex  ;
  flex-direction: column  ;
  padding: 1rem  ;
}

.session-event {
  /* margin-bottom: 1rem  ; */
  /* border-bottom: 1px solid #ccc  ; */
  padding-bottom: 1rem  ;
}

.session-event h4 {
  margin: 0  ;
  font-size: 1rem  ;
  padding-bottom: 3px ;
}

.session-event p {
  margin: 0  ;
  font-size: 0.9rem  ;
  color: #666  ;
  padding: 3px 0;
}

.attendee-tab {
  display: flex  ;
  flex-direction: column  ;
  /* margin-left: 200px; */
  /* width: 100%;
  height: 100%; */
}

.attendee-body {
  display: flex  ;
  flex-direction: row  ;
  flex-wrap: wrap  ;
  /* overflow-x: scroll; */
  /* scroll-behavior: smooth; */
}

.attendee-day {
  display: flex  ;
  flex-direction: row  ;
  margin: 1rem  ;
  width: auto  ;
  height: 100%  ;
  background-color: #fff  ;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2)  ;
}

.attendee-buttons button {
  margin-right: 2rem   ;
}

.attendee-day .imgH3 {
  margin: 0  ;
  padding: 1rem  ;
  background-color: #f8f8f8  ;
  font-size: 1.2rem  ;
  font-weight: bold  ;
  min-width: max-content;
}

.attendee-events {
  display: flex  ;
  flex-direction: column  ;
  padding: 1rem 0.5rem  ;
}

.attendee-event {
  margin-bottom: 1rem  ;
  border-bottom: 1px solid #ccc  ;
  padding-bottom: 1rem  ;
}

.attendee-event h4 {
  /* margin: 0  ; */
  font-size: 1rem  ;
  color: #4c81b5  ;
  margin-left: 20px;
}

.attendee-event p {
  margin: 0 0 0 20px  ;
  font-size: 0.9rem  ;
  color: #666  ;
  /* margin-left: 20px; */
}


.navigateGlobalEvent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem;
  flex: 1;
  background-color: #A406B5;
}

.navigateGlobalEvent .navItem {
  color: #eceff4;
}

.userNameNav {
  width: fit-content;
}

.eventRightNav {
  display: flex;
}

.eventName {
  margin-right: 2rem;
}

.inputTab {
  width: 70%;
  margin: auto;
}

.form-group {
  margin-bottom: 2rem;
}

label {
  margin-bottom: 0.5rem;
}



.modal-body p {
  margin-left: 20px;
  /* display: flex; */
}
