.main-block {
    background-color: #ffffff;
    margin: 2%;
    min-height: 100vh;
    height: auto;
}
.public:hover{
    background-color: #A406B5;
    color: white;
}


.own:hover{
    background-color: #A406B5;
    color: white;
}

.selectedList{
    background-color: #A406B5;
    color: white;
}
.event-list{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 89vh;
}

.content:hover {
    /* background-color: red; */
        /* background-color: #c3d1e8; */
}
.content{
    padding: 2px;
    border-radius: 20px;
    padding-left: 10px;
    display: flex;
    font-weight: 600;
    width: 100%;
    flex-direction: column;
    /* white-space: pre-line;
    line-break:anywhere; */
}

.main-details{
    display: flex;
}

.date{
    display: flex;
    width: 120px;
    /* width: 8%; */
    /* justify-content: space-between; */
}

.date div{
    margin-right: 10px;
}

.card{
    padding: 1%;
    border: #dadce0 1px solid;
    display: flex;
}

/* @media(max-width:1100px){
    .holiday-card{
        flex-direction: column !important;
    }
} */

@media(max-width:600px){
    .holiday-card {
        flex-direction: column !important;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: #333;
    color: #fff;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  /* Define a class for a button */
  .button {
    background-color: #4CAF50;
    border: none;
    color: #fff;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .desc {
    white-space: pre-line;
    line-break:anywhere;
  }